*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color:#57C4E5;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#card{
    height: 450px;
    width: 300px;
    background-color: #EDF2EF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
#card img{
    height: 50%;
    width: 100%;
    border-radius: 30px;
   object-position: center;
    padding: 20px;
   object-fit: cover;
  
}
#card h1{
    font-weight: bold;
    background-color:#ffcad4;
    font-size: 30px;
   margin: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#card h5{
    color: red;
    margin: 20px;
  
    font-size: 25px;
}
button{
    text-align: center;
   padding: 10px 20px;
    text-decoration-style:wavy;
    background-color: #00afb9;
    color: white;
    border-radius: 10px;
    margin:5px;
    margin-top: 10px;
    border: none;
    font-size: 15px;
 cursor: pointer;
    font-weight: 700;

}
#Remove{
    background-color:#dadada ;
    color: black;
    cursor: pointer;
}